@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui"{
   themes: all;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #A23E48;
  --color-secondary: #729F72;
  --color-accent: #37cdbe;
  --color-neutral: #3d4451;
  --color-base-100: #ffffff;
  --color-info: #3ABFF8;
  --color-success: #36D399;
  --color-warning: #FBBD23;
  }

  .font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}


